
body, html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Lora', serif;
}

hr {
  max-width: 65px;
  border-width: 3px;
  border-color: #F05F44;
}

.faded {
  color: rgba(255, 255, 255, 0.8);
}

header.startup {
  background-position: center;
  background-image: url("header.jpg");
  background-size: cover;
  height: 100%;
  background-color: black;
}

header.startup hr {
  margin-top: 200px;
  margin-bottom: 30px;
}

h1 {
  display: inline;
  text-align: center;
}

header.startup h1 {
  font-size: 2rem;
  text-align: center;
}

.btn {
  box-shadow: 0 .1875rem .1875rem 0 rgba(0,0,0,.1) !important;
  padding: 1.25rem 2rem;
  font-family: 'Lora', serif;
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: .15rem;
  border: 0;
}

.btn-primary {
  background-color: $primary;
  &:hover {
    background-color: darken($primary, 10%);
  }
  &:focus {
    background-color: darken($primary, 10%);
    color: white;
  }
  &:active {
    background-color: darken($primary, 15%) !important;
  }
}

.container {
  display: flex; /* or inline-flex */
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: baseline;
}
