body, html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
}

hr {
  max-width: 65px;
  border-width: 3px;
  border-color: #F05F44;
}

.faded {
  color: rgba(255, 255, 255, 0.8);
  transition: 0.3s;
}

.faded:hover {
  text-shadow: 0 0 5px #ff0000;
  cursor: pointer;
  color: white!important;
  transition: 0.3s;
}

header.startup {
  background-position: center;
  background-image: url("header.jpg");
  background-size: cover;
  height: 100%;
}

header.startup hr {
  margin-top: 200px;
  margin-bottom: 30px;
}

header.startup h1 {
  font-size: 2rem;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 300px;
  font-family: 'Montserrat', serif;
  box-shadow: 0 .1875rem .1875rem 0 rgba(0,0,0,.1) !important;
  padding: 1.25rem 2rem;
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: .15rem;
  border: 0;
}

.btn-xl {
  padding: 1rem 2rem;
  border-color: darkred!important;
}

.btn-primary {
  background-color: darkred!important;
  border-color: darkred!important;
  background-color: darkred!important;
  &:hover {
    background-color: darken($primary, 10%)!important;
  }
  &:focus {
    background-color: darken($primary, 10%) !important;
    color: black;
  }
  &:active {
    background-color: darken($primary, 15%) !important;
  }
}

.btn-primary:hover {
  border-color: darkred!important;
  cursor: pointer;
  background-color:darkred!important;
  opacity:0.5;
  border-radius:30px;
}

.btn:active {
  background-color: #3e8e41;
  transform: translateY(4px);
  transition: 0.1s;
}
